* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input::-ms-clear {
  display: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  font-weight: 400;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

._container {
  max-width: 1136px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  height: 100%;
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
  background-color: #fff;
  scroll-behavior: smooth;
}

.layout {
  min-height: 100vh;
  overflow: hidden;
}

.main {
  margin-bottom: 50px;
}

.header-top {
  height: 1px;
  min-height: 56px;
}

.header-top__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26.5px;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.logo__img {
  margin-right: 20px;
}

.logo__title {
  font-size: 20px;
  font-weight: 500;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26.5px;
}

.navigation__list-item {
  position: relative;
}

.navigation__link {
  font-size: 14px;
  font-weight: 400;
  color: #727272;
  -webkit-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  -o-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
}

.navigation__list-item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0.5px;
  background: #f46d69;
  opacity: 0;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  -o-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
}

.navigation__list-item:hover, .navigation__list-item:focus {
  color: #f46d69;
}

.navigation__list-item:hover::after, .navigation__list-item:focus::after {
  height: 2px;
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.navigation__link:hover {
  color: #f46d69;
}

.header-menu {
  height: 1px;
  min-height: 56px;
  background-color: #ededed;
  margin-bottom: 25px;
}

.header-menu__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-menu__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  height: 100%;
}

.header-menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 272px;
  gap: 16px;
  height: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#f46d69), color-stop(#fdafad), to(#f46d69));
  background-image: -webkit-linear-gradient(left, #f46d69, #fdafad, #f46d69);
  background-image: -o-linear-gradient(left, #f46d69, #fdafad, #f46d69);
  background-image: linear-gradient(to right, #f46d69, #fdafad, #f46d69);
  background-size: 600% 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header-menu__button:hover {
  background-position: 100% 0;
}

.header-menu__button::before {
  content: "";
  width: 17px;
  height: 17px;
  background: url(../../img/burger.svg) no-repeat center;
  background-size: 17px 17px;
  margin-right: 13px;
}

.header-menu__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  -webkit-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  -o-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
}

.header-menu__phone:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header-menu__phone::before {
  content: "";
  width: 17px;
  height: 17px;
  background: url(../../img/phone.svg) no-repeat center;
  background-size: 17px 17px;
  margin-right: 10.5px;
}

.header-menu__phone:hover::before {
  -webkit-animation: shake 0.8s;
          animation: shake 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header-menu__search {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 40px;
  background-color: #fff;
  border-radius: 4px;
}

.header-menu__search-input {
  width: 100%;
  height: 40px;
  padding: 0 10px 0 40px;
  font-weight: 300;
  background: url(../../img/search.svg) no-repeat 13px 50%;
  background-size: 15px 15px;
}

.header-menu__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 18px;
  min-width: 268px;
  height: 100%;
}

.header-menu__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -webkit-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  -o-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
}

.header-menu__login::before {
  content: "";
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 18px;
  height: 18px;
  background: url(../../img/login.svg) no-repeat center;
  background-size: 15.2px 17px;
  margin-right: 10.5px;
}

.header-menu__login:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header-menu__favorite {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
  -webkit-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  -o-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
}

.header-menu__favorite::before {
  content: "";
  width: 18px;
  height: 18px;
  background: url(../../img/favorite-black.svg) no-repeat center;
  background-size: 100% 100%;
}

.header-menu__favorite:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header-menu__favorite-counter {
  position: absolute;
  top: -8px;
  left: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
  background-color: #f46d69;
  color: #fff;
  text-align: center;
}

.header-menu__cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 18px;
  -webkit-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  -o-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
}

.header-menu__cart::before {
  content: "";
  width: 18px;
  height: 18px;
  background: url(../../img/cart-black.svg) no-repeat center;
  background-size: 100% 100%;
  margin-right: 17px;
}

.header-menu__cart:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header-menu__cart-counter {
  position: absolute;
  top: -8px;
  left: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  line-height: 18px;
  font-size: 12px;
  background-color: #f46d69;
  color: #fff;
  text-align: center;
}

.main-top {
  height: 1px;
  min-height: 456px;
  margin-bottom: 30px;
}

.main-top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  gap: 16px;
}

.main-top__categories {
  min-width: 272px;
  height: 100%;
  z-index: 20;
}

.main-top__slider {
  width: calc(100% - 272px - 16px);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  z-index: 10;
}

.slider__container {
  height: 100%;
  overflow: hidden;
}

.slider__wrapper {
  height: 100%;
  overflow: hidden;
}

.slider__items {
  height: 100%;
}

.slider__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  height: 100%;
}

.slider__item:nth-child(1) {
  background: url(../../img/slider_1.jpg) no-repeat;
  background-size: cover;
}

.slider__item:nth-child(2) {
  background: url(../../img/slider_2.jpg) no-repeat;
  background-size: cover;
}

.slider__item:nth-child(3) {
  background: url(../../img/slider_4.jpg) no-repeat;
  background-size: cover;
}

.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20px;
  height: 100%;
  padding: 40px 65px;
}

.slider__title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.slider__button {
  width: 183px;
  height: 44px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  background: #fff;
  border: 1px solid #727272;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.button {
  position: relative;
}

.button:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: translateX(-50%) skewX(-15deg);
      -ms-transform: translateX(-50%) skewX(-15deg);
          transform: translateX(-50%) skewX(-15deg);
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  left: 30px;
  top: 0;
  width: 30px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateX(-50%) skewX(-15deg);
      -ms-transform: translateX(-50%) skewX(-15deg);
          transform: translateX(-50%) skewX(-15deg);
}

.button:hover {
  background: #f46d69;
  color: #fff;
}

.button:hover:before {
  -webkit-transform: translateX(500%) skewX(-15deg);
      -ms-transform: translateX(500%) skewX(-15deg);
          transform: translateX(500%) skewX(-15deg);
  opacity: 0.6;
  -webkit-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}

.button:hover:after {
  -webkit-transform: translateX(500%) skewX(-15deg);
      -ms-transform: translateX(500%) skewX(-15deg);
          transform: translateX(500%) skewX(-15deg);
  opacity: 1;
  -webkit-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}

.categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  line-height: 20px;
}

.categories__list-item {
  position: relative;
  width: 100%;
}

.categories__link {
  -webkit-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  -o-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  display: block;
}

.categories__list-item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0.5px;
  background: #f46d69;
  opacity: 0;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  -o-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
}

.categories__list-item:hover, .categories__list-item:focus {
  color: #f46d69;
}

.categories__list-item:hover::after, .categories__list-item:focus::after {
  height: 2px;
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.categories__list-item:hover .sub-categories {
  display: block;
}

.categories__sub-categories {
  position: absolute;
  top: 0;
  left: 287px;
}

.sub-categories {
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7);
  -o-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7);
  transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7);
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.sub-categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  width: 300px;
  padding: 5px 15px 10px;
}

.sub-categories__list-item {
  font-weight: 300;
  color: #000;
}

.sub-categories--open {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.selection {
  background-color: #ededed;
}

.navigation-bar__list {
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 80px;
}

.navigation-bar__list-item--active {
  font-size: 18px;
  font-weight: 500;
}

.navigation-bar__list-item--underline {
  text-decoration: underline;
}

.catalog__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(272px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  gap: 16px;
}

.product {
  background-color: #fff;
}

.product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  padding: 14px 0 20px;
}

.product__link {
  text-align: center;
}

.product__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 16px;
}

.product__title {
  font-size: 14px;
  font-weight: 500;
}

.product__author {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
}

.product__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.product__price {
  font-size: 18px;
  font-weight: 500;
}

.product__price--emphasis {
  color: #f46d69;
}

.product__old-price {
  font-size: 14px;
  font-weight: 500;
}

.product__favorite-checkbox {
  visibility: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  -webkit-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  -o-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  cursor: pointer;
}

.product__favorite-checkbox::before {
  content: "";
  visibility: visible;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background: url(../../img/favorite-grey.svg) no-repeat center;
  background-color: #ededed;
}

.product__favorite-checkbox:checked::before {
  background: url(../../img/favorite-white.svg) no-repeat center;
  background-color: #f46d69;
}

.product__cart-checkbox {
  visibility: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  -webkit-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  -o-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  cursor: pointer;
}

.product__cart-checkbox::before {
  content: "";
  visibility: visible;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background: url(../../img/cart-grey.svg) no-repeat center;
  background-color: #ededed;
}

.product__cart-checkbox:checked::before {
  background: url(../../img/cart-white.svg) no-repeat center;
  background-color: #f46d69;
}

.product__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.rating__stars {
  width: 60px;
  height: 11px;
  background-image: url(../../img/star-grey.svg);
}

.rating__stars::before {
  content: "";
  height: 24px;
  display: inline-block;
  background-image: url(../../img/star.svg);
  background-repeat: repeat-x;
}

.rating__stars--50::before {
  width: 60px;
}

.rating__stars--45::before {
  width: 54px;
}

.rating__stars--40::before {
  width: 48px;
}

.rating__stars--30::before {
  width: 36px;
}

.rating__stars--20::before {
  width: 24px;
}

.rating__stars--10::before {
  width: 12px;
}

.subscribe {
  height: 88px;
  background-color: #ededed;
  margin-bottom: 20px;
}

.subscribe__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__title {
  font-size: 18px;
  font-weight: 500;
  color: #727272;
}

.subscribe__button {
  width: 166px;
  height: 44px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  background: #fff;
  border: 1px solid #727272;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  color: #727272;
}

.articles__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articles__list-item {
  width: 25%;
}

.article__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
  padding: 10px 15px;
}

.article__title {
  font-size: 16px;
}

.article__subtitle {
  font-weight: 300;
}

.map__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.map__title {
  font-weight: 500;
  margin-bottom: 20px;
}

.map__link {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 300;
}

.map__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app__link {
  display: block;
  margin-bottom: 5px;
}

.copyright__title {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
