* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input::-ms-clear {
  display: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  font-weight: 400;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

._container {
  max-width: 1136px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  height: 100%;
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
  background-color: #fff;
  scroll-behavior: smooth;
}

.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main__top {
  margin-bottom: 30px;
}

.main__selection {
  padding-bottom: 24px;
  background-color: #fff;
}

.main__selection--grey {
  background-color: #ededed;
}

.main__selection--top {
  padding-bottom: 0;
}

.header-top {
  height: 56px;
}

.header-top__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26.5px;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.logo__img {
  margin-right: 20px;
}

.logo__title {
  font-size: 20px;
  font-weight: 500;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26.5px;
}

.navigation__list-item {
  position: relative;
}

.navigation__link {
  font-size: 14px;
  font-weight: 400;
  color: #727272;
  -webkit-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  -o-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
}

.navigation__list-item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 90%;
  height: 0.5px;
  background: #f46d69;
  opacity: 0;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  -o-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
}

.navigation__list-item:hover, .navigation__list-item:focus {
  color: #f46d69;
}

.navigation__list-item:hover::after, .navigation__list-item:focus::after {
  height: 2px;
  opacity: 1;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.navigation__link:hover {
  color: #f46d69;
}

.header__menu {
  margin-bottom: 25px;
}

.header-menu {
  height: 56px;
  background-color: #ededed;
}

.header-menu__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-menu__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  height: 100%;
}

.header-menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 272px;
  gap: 16px;
  height: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#f46d69), color-stop(#fdafad), to(#f46d69));
  background-image: -webkit-linear-gradient(left, #f46d69, #fdafad, #f46d69);
  background-image: -o-linear-gradient(left, #f46d69, #fdafad, #f46d69);
  background-image: linear-gradient(to right, #f46d69, #fdafad, #f46d69);
  background-size: 600% 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header-menu__button:hover {
  background-position: 100% 0;
}

.header-menu__button::before {
  content: "";
  width: 17px;
  height: 17px;
  background: url(../../img/burger.svg) no-repeat center;
  background-size: 17px 17px;
  margin-right: 13px;
}

.header-menu__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  -webkit-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  -o-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
}

.header-menu__phone:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header-menu__phone::before {
  content: "";
  width: 17px;
  height: 17px;
  background: url(../../img/phone.svg) no-repeat center;
  background-size: 17px 17px;
  margin-right: 10.5px;
}

.header-menu__phone:hover::before {
  -webkit-animation: shake 0.8s;
          animation: shake 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header-menu__search {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 40px;
  background-color: #fff;
  border-radius: 4px;
}

.header-menu__search-input {
  width: 100%;
  height: 40px;
  padding: 0 10px 0 40px;
  font-weight: 300;
  background: url(../../img/search.svg) no-repeat 13px 50%;
  background-size: 15px 15px;
}

.header-menu__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 18px;
  min-width: 268px;
  height: 100%;
}

.header-menu__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -webkit-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  -o-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
}

.header-menu__login::before {
  content: "";
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 18px;
  height: 18px;
  background: url(../../img/login.svg) no-repeat center;
  background-size: 15.2px 17px;
  margin-right: 10.5px;
}

.header-menu__login:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header-menu__favorite {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
  -webkit-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  -o-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
}

.header-menu__favorite::before {
  content: "";
  width: 18px;
  height: 18px;
  background: url(../../img/favorite-black.svg) no-repeat center;
  background-size: 100% 100%;
}

.header-menu__favorite:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header-menu__favorite-counter {
  position: absolute;
  top: -8px;
  left: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
  background-color: #f46d69;
  color: #fff;
  text-align: center;
}

.header-menu__cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 18px;
  -webkit-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  -o-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
}

.header-menu__cart::before {
  content: "";
  width: 18px;
  height: 18px;
  background: url(../../img/cart-black.svg) no-repeat center;
  background-size: 100% 100%;
  margin-right: 17px;
}

.header-menu__cart:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header-menu__cart-counter {
  position: absolute;
  top: -8px;
  left: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  line-height: 18px;
  font-size: 12px;
  background-color: #f46d69;
  color: #fff;
  text-align: center;
}

.main-top {
  height: 456px;
}

.main-top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  gap: 16px;
}

.main-top__categories {
  min-width: 272px;
  height: 100%;
  z-index: 20;
}

.main-top__slider {
  width: calc(100% - 272px - 16px);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  z-index: 10;
}

.slider__wrapper {
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
}

.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.slider__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  height: 100%;
}

.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  height: 100%;
  padding: 40px 65px;
}

.slider__title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.slider__button {
  min-width: 183px;
  min-height: 44px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  background: #fff;
  border: 1px solid #727272;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.slide-menu:nth-child(1) {
  background: url(../../img/slider/slider_1.jpg) no-repeat;
  background-size: cover;
}

.slide-menu:nth-child(2) {
  background: url(../../img/slider/slider_2.jpg) no-repeat;
  background-size: cover;
}

.slide-menu:nth-child(3) {
  background: url(../../img/slider/slider_3.jpg) no-repeat;
  background-size: cover;
}

.button {
  position: relative;
}

.button:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: translateX(-50%) skewX(-15deg);
      -ms-transform: translateX(-50%) skewX(-15deg);
          transform: translateX(-50%) skewX(-15deg);
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  left: 30px;
  top: 0;
  width: 30px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateX(-50%) skewX(-15deg);
      -ms-transform: translateX(-50%) skewX(-15deg);
          transform: translateX(-50%) skewX(-15deg);
}

.button:hover {
  background: #f46d69;
  color: #fff;
}

.button:hover:before {
  -webkit-transform: translateX(500%) skewX(-15deg);
      -ms-transform: translateX(500%) skewX(-15deg);
          transform: translateX(500%) skewX(-15deg);
  opacity: 0.6;
  -webkit-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}

.button:hover:after {
  -webkit-transform: translateX(500%) skewX(-15deg);
      -ms-transform: translateX(500%) skewX(-15deg);
          transform: translateX(500%) skewX(-15deg);
  opacity: 1;
  -webkit-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}

.categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 20px;
}

.categories__list-item {
  position: relative;
  width: 100%;
  cursor: pointer;
  padding-bottom: 20px;
}

.categories__link {
  -webkit-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  -o-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  display: block;
}

.categories__list-item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 90%;
  height: 0.5px;
  background: #f46d69;
  opacity: 0;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  -o-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
}

.categories__list-item:hover, .categories__list-item:focus {
  color: #f46d69;
}

.categories__list-item:hover::after, .categories__list-item:focus::after {
  height: 2px;
  opacity: 1;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.categories__list-item:hover {
  width: 110%;
}

.categories__list-item:hover .sub-categories {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

.categories__sub-categories {
  position: absolute;
  top: -19px;
  left: 288px;
}

.sub-categories {
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 0.3s cubic-bezier(0.22, 0.7, 0.21, 0.7);
  -o-transition: all 0.3s cubic-bezier(0.22, 0.7, 0.21, 0.7);
  transition: all 0.3s cubic-bezier(0.22, 0.7, 0.21, 0.7);
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.sub-categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 30px 0px;
  white-space: nowrap;
}

.sub-categories__list-item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 90%;
  height: 0.5px;
  background: #f46d69;
  opacity: 0;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  -o-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
}

.sub-categories__list-item:hover, .sub-categories__list-item:focus {
  color: #f46d69;
}

.sub-categories__list-item:hover::after, .sub-categories__list-item:focus::after {
  height: 2px;
  opacity: 1;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.sub-categories__list-item {
  position: relative;
  padding-bottom: 20px;
  color: #000;
}

.sub-categories__list-item:hover::after {
  width: 100%;
}

.catalog-selection__description {
  margin-bottom: -16px;
}

.catalog-selection__description-list {
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 80px;
}

.catalog-selection__description-list-item--active {
  font-size: 18px;
  font-weight: 500;
}

.catalog-selection__description-list-item--underline {
  text-decoration: underline;
}

.catalog {
  padding: 16px 0;
}

.catalog__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(272px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  gap: 16px;
}

.catalog__list--grid-4_1 {
  -ms-grid-columns: (minmax(272px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
}

.catalog__list--grid-8_1 {
  -ms-grid-columns: (136px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 136px);
}

.catalog__list--grid-4_3 {
  -ms-grid-columns: (minmax(272px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.product {
  background-color: #fff;
  border-radius: 4px;
}

.product:hover .product__picture {
  -webkit-transform: rotate(360deg) scale(1);
      -ms-transform: rotate(360deg) scale(1);
          transform: rotate(360deg) scale(1);
}

.product:hover .product__picture--no-transform {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  padding: 14px 0 20px;
}

.product__link {
  text-align: center;
  overflow: hidden;
}

.product__picture {
  -webkit-transform: rotate(340deg) scale(0.8);
      -ms-transform: rotate(340deg) scale(0.8);
          transform: rotate(340deg) scale(0.8);
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.product__picture--no-transform {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.product__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 16px;
}

.product__title {
  font-size: 14px;
  font-weight: 500;
}

.product__author {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
}

.product__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.product__price {
  font-size: 18px;
  font-weight: 500;
}

.product__price--emphasis {
  color: #f46d69;
}

.product__old-price {
  font-size: 14px;
  font-weight: 500;
}

.product__cart {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  visibility: hidden;
  width: 32px;
  height: 32px;
  -webkit-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  -o-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  cursor: pointer;
}

.product__cart::before {
  content: "";
  visibility: visible;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background: url(../../img/cart-grey.svg) no-repeat center;
  background-color: #ededed;
}

.product__cart:checked::before {
  background: url(../../img/cart-white.svg) no-repeat center;
  background-color: #f46d69;
}

.product__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.favorite {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 32px;
  height: 32px;
  visibility: hidden;
  cursor: pointer;
  -webkit-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  -o-transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
  transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;
}

.favorite::before {
  content: "";
  visibility: visible;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background: url(../../img/favorite-grey.svg) no-repeat center;
  background-color: #ededed;
}

.favorite:checked::before {
  background: url(../../img/favorite-white.svg) no-repeat center;
  background-color: #f46d69;
}

.rating__stars {
  width: 60px;
  height: 11px;
  background-image: url(../../img/star-grey.svg);
}

.rating__stars::before {
  content: "";
  height: 24px;
  display: inline-block;
  background-image: url(../../img/star.svg);
  background-repeat: repeat-x;
}

.rating__stars--50::before {
  width: 60px;
}

.rating__stars--45::before {
  width: 54px;
}

.rating__stars--40::before {
  width: 48px;
}

.rating__stars--30::before {
  width: 36px;
}

.rating__stars--20::before {
  width: 24px;
}

.rating__stars--10::before {
  width: 12px;
}

.subscribe {
  height: 88px;
  background-color: #fff;
}

.subscribe__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__title {
  font-size: 18px;
  font-weight: 500;
  color: #727272;
}

.subscribe__button {
  min-width: 166px;
  min-height: 44px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  background: #fff;
  border: 1px solid #727272;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  color: #727272;
}

.banner {
  min-width: 272px;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
  border-radius: 4px;
  background-color: #406d6f;
}

.banner__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 20px;
  padding: 35px 10px;
  color: #fff;
}

.banner__picture {
  width: 100%;
  height: 100%;
  background-image: url(../../img/advertising/2.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.banner__description {
  font-weight: 700;
}

.banner__title {
  font-size: 24px;
  margin-bottom: 15px;
}

.banner__subtitle {
  font-size: 18px;
}

.banner__button {
  min-width: 137px;
  min-height: 44px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  background: #fff;
  border: 1px solid #727272;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.banner-1 {
  width: 100%;
  height: 100%;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
  background-image: url(../../img/advertising/1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 4px;
}

.article-selection__description {
  margin-bottom: -16px;
}

.article-selection__description-list {
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 80px;
}

.article-selection__description-list-item--active {
  font-size: 18px;
  font-weight: 500;
}

.article-selection__description-list-item--underline {
  text-decoration: underline;
}

.articles {
  padding: 16px 0;
}

.articles__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(272px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  gap: 16px;
}

.article {
  background-color: #fff;
  border-radius: 4px;
}

.article__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.article__title {
  font-size: 16px;
}

.article__subtitle {
  font-weight: 300;
  font-size: 14px;
}

.footer-navigation__content {
  padding: 40px 0;
}

.footer-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.footer-navigation__title {
  font-weight: 500;
  margin-bottom: 20px;
}

.footer-navigation__link {
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
}

.footer-navigation__link:hover .copy-link__content {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  visibility: visible;
  opacity: 1;
}

.footer-navigation__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.social__list-item {
  width: 32px;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.copyright__title {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.copy-link {
  display: inline;
}

.copy-link__content {
  visibility: hidden;
  opacity: 0;
  width: 24px;
  height: 24px;
  background: url(../../img/copy-link.svg) no-repeat;
  vertical-align: middle;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.breadcrumbs {
  margin-bottom: 50px;
}

.breadcrumbs__list-item {
  display: inline-block;
  font-size: 12px;
  color: #727272;
}

.breadcrumbs__list-item--current {
  color: #000;
}

.breadcrumbs__list > li + li:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 11px;
  margin: 0 8px;
  background-image: url(../../img/separator.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.product-card {
  height: 100%;
  width: 100%;
}

.product-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e8e8e8;
}

.product-card__pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-card__reading {
  width: 354px;
  height: 156px;
  border: 1px solid black;
}

.product-card__description {
  width: calc(100% - 448px - 16px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-card__main-info {
  margin-bottom: 20px;
}

.product-card__availability {
  margin-bottom: 20px;
}

.product-card__summary {
  position: relative;
}

.summary {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px 25px;
  font-size: 14px;
  font-weight: 300px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  margin-bottom: 16px;
}

.summary__text {
  padding-right: 60px;
  line-height: 24px;
}

.summary__link {
  white-space: nowrap;
  text-decoration: underline;
}

.availability__description {
  font-weight: 300;
  margin-bottom: 16px;
}

.availability__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.availability__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.availability__cart {
  min-width: 225px;
  min-height: 44px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  background: #fff;
  border: 1px solid #727272;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  background-color: #f46d69;
  color: #fff;
  border: none;
}

.availability__favorite {
  width: 44px;
}

.availability__favorite::before {
  width: 44px;
  height: 44px;
}

.pages {
  text-align: center;
}

.pages__title {
  font-weight: 300;
  margin-bottom: 30px;
}

.pages__title::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 20px;
  background: url(../../img/book.svg) no-repeat;
  vertical-align: bottom;
  margin-right: 5px;
}

.pages__title-link {
  text-decoration: underline;
}

.pages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pages__list-item {
  border: 1px solid #ededed;
  border-radius: 4px;
}

.pages__picture {
  border-radius: 4px;
}

.main-info {
  padding-bottom: 25px;
  border-bottom: 1px solid #e8e8e8;
}

.main-info__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.main-info__code {
  font-size: initial;
  font-weight: 300;
}

.main-info__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 24px;
}

.main-info__catalog-selection {
  font-size: initial;
  font-weight: 300;
}

.main-info__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}

.main-info__review {
  font-weight: 300;
  text-decoration: underline;
}

.main-info__cost {
  font-size: 24px;
  font-weight: 600;
}

.add-info__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.add-info__description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  row-gap: 10px;
}

.add-info__value {
  font-weight: 300;
}

.add-info__link {
  text-decoration: underline;
}

.reviews-selection__content {
  padding-bottom: 40px;
}

.reviews-selection__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 70px;
  padding: 0 70px;
}

.reviews-selection__list-item {
  width: 50%;
}

.reviews-selection__title-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 88px;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-selection__reviews-link {
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
}

.reviews-selection__add-review-link {
  font-weight: 300;
  text-decoration: underline;
}

.review {
  font-weight: 300;
}

.review__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.review__text {
  max-height: 120px;
  overflow: hidden;
}

.review__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.review__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review__read-all-link {
  text-decoration: underline;
}

.review__read-all-link::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 14px;
  background: url(../../img/eye.svg) no-repeat;
  background-position: center center;
  margin-right: 7px;
  vertical-align: middle;
}

.review__like {
  margin-right: 20px;
}

.review__like::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../../img/like.svg) no-repeat;
  background-position: center center;
  margin-right: 7px;
  vertical-align: middle;
}

.review__comments::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 17px;
  background: url(../../img/comment.svg) no-repeat;
  background-position: center center;
  margin-right: 7px;
  vertical-align: middle;
}

.title__text {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
}

.description__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.description__order-list {
  width: 66.66%;
}

.description__order-list-item {
  border-bottom: 1px solid #e8e8e8;
}

.description__summary {
  width: 33.33%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.order__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0;
}

.order__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__favorite {
  width: 40px;
  height: 40px;
}

.order__favorite::before {
  width: 40px;
  height: 40px;
}

.order__remove {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../../img/trashcan.svg) no-repeat;
  background-color: #ededed;
  background-position: center;
  border-radius: 4px;
}

.product__title {
  font-weight: 400;
}

.product__author {
  font-size: 14px;
}

.product__state {
  font-weight: 300;
  font-size: 12px;
}

.product__description {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.counter__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

.counter__amount {
  text-align: center;
  width: 40px;
  height: 40px;
  font-weight: 500;
}

.counter__decrement, .counter__increment {
  width: 40px;
  height: 40px;
  font-size: 24px;
  font-weight: 300;
}

.order-summary {
  border-radius: 4px;
}

.order-summary__content {
  min-height: 350px;
  background-color: #ededed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 30px;
}

.order-summary__title {
  font-size: 18px;
  font-weight: 500;
}

.order-summary__description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-column-gap: 35px;
          column-gap: 35px;
  row-gap: 10px;
}

.order-summary__value {
  font-weight: 300;
}

.order-summary__link {
  text-decoration: underline;
}

.order-summary__cost {
  font-weight: 600;
}

.order-summary__note {
  font-size: 12px;
  font-weight: 300;
}

.order-summary__button {
  min-width: 260px;
  min-height: 44px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  background: #fff;
  border: 1px solid #727272;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  background-color: #f46d69;
  color: #fff;
}
