$white: #fff;
$black: #000;
$grey: #727272;
$pink: #f46d69;

@mixin row {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

body {
   font-family: "Noto Sans", Arial, sans-serif;
   font-size: 16px;
   font-weight: 400;
   scroll-behavior: smooth;
}

.layout {
   min-height: 100vh;
   color: $black;
   background-color: $white;
}

.container {
   max-width: 1176px;
   height: 100%;
   margin: 0 auto;
   padding: 0 20px;
}

.header-top {
   &__content {
      @include row;
      height: 56px;
      gap: 26.5px;
   }
}

.logo {
   &__link {
      @include row;
   }

   &__img {
      margin-right: 10px;
   }

   &__title {
      font-size: 20px;
      font-weight: 500;
   }
}

.info {
   &__list {
      @include row;
      gap: 26.5px;
   }

   &__link {
      font-size: 14px;
      font-weight: 300;
      color: $grey;
   }
}

.header-menu {
   background-color: #ededed;

   &__content {
      @include row;
      gap: 16px;
      height: 56px;
   }

   &__button {
      @include row;
      justify-content: center;
      min-width: 244px;
      height: 100%;
      background-color: $pink;
      font-size: 18px;
      font-weight: 500;
      color: $white;
   }

   &__button::before {
      content: "";
      width: 17px;
      height: 17px;
      background: url(../../img/burger.svg) no-repeat center;
      background-size: 17px 17px;
      margin-right: 13px;
   }

   &__phone {
      @include row;
      justify-content: center;
      height: 100%;
      font-weight: 500;
      color: $black;
   }

   &__phone::before {
      content: "";
      width: 17px;
      height: 17px;
      background: url(../../img/phone.svg) no-repeat center;
      background-size: 17px 17px;
      margin-right: 10.5px;
   }

   &__search {
      flex: 1;
      max-width: 352px;
      background-color: $white;
      border-radius: 4px;
   }

   &__search-input {
      width: 100%;
      height: 40px;
      padding: 0 10px 0 40px;
      font-weight: 300;
      background: url(../../img/search.svg) no-repeat 13px 50%;
      background-size: 15px 15px;
   }

   &__info {
      @include row;
      gap: 40px;
      min-width: 268px;
      height: 100%;
   }

   &__auth {
      @include row;
      justify-content: right;
      min-width: 140px;
      gap: 18px;
      height: 100%;
   }

   &__login {
      @include row;
      justify-content: center;
   }

   &__login::before {
      content: "";
      width: 18px;
      height: 18px;
      background: url(../../img/login.svg) no-repeat center;
      background-size: 15.2px 17px;
      margin-right: 10.5px;
   }

   &__favorite {
      position: relative;
      @include row;
      justify-content: center;
   }

   &__favorite::before {
      content: "";
      width: 18px;
      height: 18px;
      background: url(../../img/favorite.svg) no-repeat center;
      background-size: 16px 14px;
   }

   &__favorite-counter {
      position: absolute;
      top: -8px;
      left: 12px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      line-height: 18px;
      font-size: 12px;
      font-weight: 400;
      background-color: $pink;
      color: $white;
      text-align: center;
   }

   &__cart {
      position: relative;
      @include row;
      justify-content: center;
   }

   &__cart::before {
      content: "";
      width: 18px;
      height: 18px;
      background: url(../../img/cart.svg) no-repeat center;
      background-size: 18px 17px;
      margin-right: 17px;
   }

   &__cart-counter {
      position: absolute;
      top: -8px;
      left: 12px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      line-height: 18px;
      font-size: 12px;
      background-color: $pink;
      color: $white;
      text-align: center;
   }
}
