$white: #fff;
$black: #000;
$grey: #727272;
$pink: #f46d69;
$grey-back: #ededed;
$border-color: #e8e8e8;
$font-size: 16px;
$font-weight: 400;
$line-height: 1.2;
$transition: all 0.1s cubic-bezier(0.22, 0.7, 0.21, 0.7) 0s;

@mixin row {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

@mixin menu-hover-effect {
   transform: scale(1.1);
}

@mixin link-hover-effect {
   &__list-item::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 90%;
      height: 0.5px;
      background: $pink;
      opacity: 0;
      transform: translateY(-10px);
      transition: $transition;
   }

   &__list-item:hover,
   &__list-item:focus {
      color: $pink;
   }

   &__list-item:hover::after,
   &__list-item:focus::after {
      height: 2px;
      opacity: 1;
      transform: translateY(-10px);
   }
}

@mixin shake {
   animation: shake 0.8s;
   animation-iteration-count: infinite;
}

@keyframes shake {
   0% {
      transform: translate(1px, 1px) rotate(0deg);
   }
   10% {
      transform: translate(-1px, -2px) rotate(-1deg);
   }
   20% {
      transform: translate(-3px, 0px) rotate(1deg);
   }
   30% {
      transform: translate(3px, 2px) rotate(0deg);
   }
   40% {
      transform: translate(1px, -1px) rotate(1deg);
   }
   50% {
      transform: translate(-1px, 2px) rotate(-1deg);
   }
   60% {
      transform: translate(-3px, 1px) rotate(0deg);
   }
   70% {
      transform: translate(3px, 1px) rotate(-1deg);
   }
   80% {
      transform: translate(-1px, -1px) rotate(1deg);
   }
   90% {
      transform: translate(1px, 2px) rotate(0deg);
   }
   100% {
      transform: translate(1px, -2px) rotate(-1deg);
   }
}

@mixin button-hover-effect {
   &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 80px;
      height: 100%;
      background: rgba(255, 255, 255, 0.5);
      opacity: 0.5;
      filter: blur(30px);
      transform: translateX(-50%) skewX(-15deg);
   }
   &:after {
      content: "";
      display: block;
      position: absolute;
      left: 30px;
      top: 0;
      width: 30px;
      height: 100%;
      background: rgba(255, 255, 255, 0.5);
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-50%) skewX(-15deg);
   }
   &:hover {
      background: $pink;
      color: $white;

      &:before {
         transform: translateX(500%) skewX(-15deg);
         opacity: 0.6;
         transition: all 1.2s ease-in-out;
      }
      &:after {
         transform: translateX(500%) skewX(-15deg);
         opacity: 1;
         transition: all 1.2s ease-in-out;
      }
   }
}

@mixin button($width, $height) {
   min-width: $width;
   min-height: $height;
   text-align: center;
   font-size: 16px;
   font-weight: 600;
   color: $black;
   background: $white;
   border: 1px solid $grey;
   border-radius: 4px;
   overflow: hidden;
   transition: all 0.6s ease-in-out;
}

._container {
   max-width: 1136px;
   margin: 0 auto;
   padding: 0 15px;
   box-sizing: content-box;
}

body {
   height: 100%;
   font-family: "Noto Sans", Arial, sans-serif;
   font-size: $font-size;
   font-weight: $font-weight;
   line-height: $line-height;
   color: $black;
   background-color: $white;
   scroll-behavior: smooth;
}

.layout {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   overflow: hidden;
}

.main {
   flex: 1;
   &__top {
      margin-bottom: 30px;
   }

   &__selection {
      padding-bottom: 24px;
      background-color: $white;

      &--grey {
         background-color: $grey-back;
      }

      &--top {
         padding-bottom: 0;
      }
   }
}

.header-top {
   height: 56px;
   &__content {
      height: 100%;
      @include row;
      gap: 26.5px;
   }
}

.logo {
   &__link {
      @include row;
      justify-content: left;
   }

   &__img {
      margin-right: 20px;
   }

   &__title {
      font-size: 20px;
      font-weight: 500;
   }
}

.navigation {
   &__list {
      @include row;
      gap: 26.5px;
   }

   &__list-item {
      position: relative;
   }

   &__link {
      font-size: 14px;
      font-weight: 400;
      color: $grey;
      transition: $transition;
   }

   @include link-hover-effect;

   &__link:hover {
      color: $pink;
   }
}

.header {
   &__menu {
      margin-bottom: 25px;
   }
}

.header-menu {
   height: 56px;
   background-color: $grey-back;

   &__content {
      height: 100%;
      @include row;
      gap: 16px;
      justify-content: flex-start;
   }

   &__control {
      display: flex;
      flex: 1;
      align-items: center;
      gap: 16px;
      height: 100%;
   }

   &__button {
      @include row;
      justify-content: center;
      min-width: 272px;
      gap: 16px;
      height: 100%;
      font-size: 18px;
      font-weight: 500;
      color: $white;
      background-image: linear-gradient(to right, $pink, #fdafad, $pink);
      background-size: 600% 100%;
      transition: all 0.5s ease-in-out;
   }

   &__button:hover {
      background-position: 100% 0;
   }

   &__button::before {
      content: "";
      width: 17px;
      height: 17px;
      background: url(../../img/burger.svg) no-repeat center;
      background-size: 17px 17px;
      margin-right: 13px;
   }

   &__phone {
      @include row;
      justify-content: center;
      height: 100%;
      font-size: 18px;
      font-weight: 500;

      color: $black;
      transition: $transition;
   }

   &__phone:hover {
      @include menu-hover-effect;
   }

   &__phone::before {
      content: "";
      width: 17px;
      height: 17px;
      background: url(../../img/phone.svg) no-repeat center;
      background-size: 17px 17px;
      margin-right: 10.5px;
   }

   &__phone:hover::before {
      @include shake();
   }

   &__search {
      flex: 1;
      height: 40px;
      background-color: $white;
      border-radius: 4px;
   }

   &__search-input {
      width: 100%;
      height: 40px;
      padding: 0 10px 0 40px;
      font-weight: 300;
      background: url(../../img/search.svg) no-repeat 13px 50%;
      background-size: 15px 15px;
   }

   &__info {
      @include row;
      justify-content: flex-end;
      gap: 18px;
      min-width: 268px;
      height: 100%;
   }

   &__login {
      @include row;
      display: block;
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: $transition;
   }

   &__login::before {
      content: "";
      flex-shrink: 0;
      width: 18px;
      height: 18px;
      background: url(../../img/login.svg) no-repeat center;
      background-size: 15.2px 17px;
      margin-right: 10.5px;
   }

   &__login:hover {
      @include menu-hover-effect;
   }

   &__favorite {
      position: relative;
      @include row;
      justify-content: center;
      margin-right: 20px;
      transition: $transition;
   }

   &__favorite::before {
      content: "";
      width: 18px;
      height: 18px;
      background: url(../../img/favorite-black.svg) no-repeat center;
      background-size: 100% 100%;
   }

   &__favorite:hover {
      @include menu-hover-effect;
   }

   &__favorite-counter {
      position: absolute;
      top: -8px;
      left: 12px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      line-height: 18px;
      font-size: 12px;
      font-weight: 400;
      background-color: $pink;
      color: $white;
      text-align: center;
   }

   &__cart {
      position: relative;
      @include row;
      justify-content: center;
      height: 18px;
      transition: $transition;
   }

   &__cart::before {
      content: "";
      width: 18px;
      height: 18px;
      background: url(../../img/cart-black.svg) no-repeat center;
      background-size: 100% 100%;
      margin-right: 17px;
   }

   &__cart:hover {
      @include menu-hover-effect;
   }

   &__cart-counter {
      position: absolute;
      top: -8px;
      left: 12px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      line-height: 18px;
      font-size: 12px;
      background-color: $pink;
      color: $white;
      text-align: center;
   }
}

.main-top {
   height: 456px;

   &__content {
      @include row;
      height: 100%;
      gap: 16px;
   }

   &__categories {
      min-width: 272px;
      height: 100%;
      z-index: 20;
   }

   &__slider {
      width: calc(100% - 272px - 16px);
      flex: 1;
      height: 100%;
      z-index: 10;
   }
}

.slider {
   &__wrapper {
      height: 100%;
      overflow: hidden;
      border-radius: 4px;
   }

   &__items {
      display: flex;
      height: 100%;
   }

   &__item {
      flex: 0 0 100%;
      max-width: 100%;
      height: 100%;
   }

   &__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 20px;
      height: 100%;
      padding: 40px 65px;
   }

   &__title {
      font-size: 24px;
      font-weight: 600;
      color: $white;
      text-shadow: 1px 1px 2px black;
   }

   &__button {
      @include button(183px, 44px);
   }
}

.slide-menu {
   &:nth-child(1) {
      background: url(../../img/slider/slider_1.jpg) no-repeat;
      background-size: cover;
   }

   &:nth-child(2) {
      background: url(../../img/slider/slider_2.jpg) no-repeat;
      background-size: cover;
   }

   &:nth-child(3) {
      background: url(../../img/slider/slider_3.jpg) no-repeat;
      background-size: cover;
   }
}

.button {
   position: relative;
   @include button-hover-effect;
}

.categories {
   &__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      line-height: 20px;
   }

   &__list-item {
      position: relative;
      width: 100%;
      cursor: pointer;
      padding-bottom: 20px;
   }

   &__link {
      transition: $transition;
      display: block;
   }

   @include link-hover-effect;

   &__list-item:hover {
      width: 110%;
   }

   &__list-item:hover .sub-categories {
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
   }

   &__sub-categories {
      position: absolute;
      top: -19px;
      left: 288px;
   }
}

.sub-categories {
   opacity: 0;
   visibility: hidden;
   background-color: #fff;
   transform: translateY(50px);
   transition: all 0.3s cubic-bezier(0.22, 0.7, 0.21, 0.7);
   border-radius: 4px;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

   &__list {
      display: flex;
      flex-direction: column;
      padding: 20px 30px 0px;
      white-space: nowrap;
   }

   @include link-hover-effect;

   &__list-item {
      position: relative;
      padding-bottom: 20px;
      color: $black;

      &:hover::after {
         width: 100%;
      }
   }
}

.catalog-selection {
   &__description {
      margin-bottom: -16px;
   }

   &__description-list {
      height: 88px;
      @include row;
      justify-content: flex-start;
      gap: 80px;
   }

   &__description-list-item {
      &--active {
         font-size: 18px;
         font-weight: 500;
      }
      &--underline {
         text-decoration: underline;
      }
   }
}

.catalog {
   padding: 16px 0;

   &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
      gap: 16px;

      &--grid-4_1 {
         grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
      }

      &--grid-8_1 {
         grid-template-columns: repeat(auto-fit, 136px);
      }

      &--grid-4_3 {
         grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
         grid-template-rows: repeat(3, 1fr);
      }
   }
}

.product {
   background-color: $white;
   border-radius: 4px;

   &:hover &__picture {
      transform: rotate(360deg) scale(1);
   }

   &:hover &__picture--no-transform {
      transform: none;
   }

   &__content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 14px 0 20px;
   }

   &__link {
      text-align: center;
      overflow: hidden;
   }

   &__picture {
      transform: rotate(340deg) scale(0.8);
      transition: 0.8s;
   }

   &__picture--no-transform {
      transform: none;
   }

   &__description {
      display: flex;
      flex-direction: column;
      padding: 0 16px;
   }

   &__title {
      font-size: 14px;
      font-weight: 500;
   }

   &__author {
      font-size: 12px;
      font-weight: 300;
      margin-bottom: 10px;
   }

   &__bottom {
      display: flex;
      justify-content: space-between;
   }

   &__cost {
      display: flex;
      gap: 10px;
      align-items: flex-end;
   }

   &__price {
      font-size: 18px;
      font-weight: 500;
   }

   &__price--emphasis {
      color: $pink;
   }

   &__old-price {
      font-size: 14px;
      font-weight: 500;
   }

   &__cart {
      display: inline-flex;
      visibility: hidden;
      width: 32px;
      height: 32px;
      transition: $transition;
      cursor: pointer;
   }

   &__cart::before {
      content: "";
      visibility: visible;
      width: 32px;
      height: 32px;
      border-radius: 4px;
      background: url(../../img/cart-grey.svg) no-repeat center;
      background-color: $grey-back;
   }

   &__cart:checked::before {
      background: url(../../img/cart-white.svg) no-repeat center;
      background-color: $pink;
   }

   &__control {
      display: flex;
      gap: 8px;
   }
}

.favorite {
   display: inline-flex;
   width: 32px;
   height: 32px;
   visibility: hidden;
   cursor: pointer;
   transition: $transition;

   &::before {
      content: "";
      visibility: visible;
      width: 32px;
      height: 32px;
      border-radius: 4px;
      background: url(../../img/favorite-grey.svg) no-repeat center;
      background-color: $grey-back;
   }

   &:checked::before {
      background: url(../../img/favorite-white.svg) no-repeat center;
      background-color: $pink;
   }
}

.rating {
   &__stars {
      width: 60px;
      height: 11px;
      background-image: url(../../img/star-grey.svg);
   }

   &__stars::before {
      content: "";
      height: 24px;
      display: inline-block;
      background-image: url(../../img/star.svg);
      background-repeat: repeat-x;
   }

   &__stars--50::before {
      width: 60px;
   }

   &__stars--45::before {
      width: 54px;
   }

   &__stars--40::before {
      width: 48px;
   }

   &__stars--30::before {
      width: 36px;
   }

   &__stars--20::before {
      width: 24px;
   }

   &__stars--10::before {
      width: 12px;
   }
}

.subscribe {
   height: 88px;
   background-color: $white;

   &__content {
      display: flex;
      gap: 48px;
      height: 100%;
      align-items: center;
      justify-content: center;
   }

   &__title {
      font-size: 18px;
      font-weight: 500;
      color: #727272;
   }

   &__button {
      @include button(166px, 44px);
      color: $grey;
   }
}

.banner {
   min-width: 272px;
   grid-column: 1;
   grid-row: 2 / span 2;
   border-radius: 4px;
   background-color: #406d6f;

   &__content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      gap: 20px;
      padding: 35px 10px;
      color: $white;
   }

   &__picture {
      width: 100%;
      height: 100%;
      background-image: url(../../img/advertising/2.png);
      background-repeat: no-repeat;
      background-position: center center;
   }

   &__description {
      font-weight: 700;
   }

   &__title {
      font-size: 24px;
      margin-bottom: 15px;
   }

   &__subtitle {
      font-size: 18px;
   }

   &__button {
      @include button(137px, 44px);
   }
}

.banner-1 {
   width: 100%;
   height: 100%;
   grid-column: 3;
   grid-row: 2;
   background-image: url(../../img/advertising/1.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   border-radius: 4px;
}

.article-selection {
   &__description {
      margin-bottom: -16px;
   }

   &__description-list {
      height: 88px;
      @include row;
      justify-content: flex-start;
      gap: 80px;
   }

   &__description-list-item {
      &--active {
         font-size: 18px;
         font-weight: 500;
      }
      &--underline {
         text-decoration: underline;
      }
   }
}

.articles {
   padding: 16px 0;

   &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
      gap: 16px;
   }
}

.article {
   background-color: $white;
   border-radius: 4px;
   &__content {
      display: flex;
      flex-direction: column;
      gap: 8px;
   }

   &__title {
      font-size: 16px;
   }

   &__subtitle {
      font-weight: 300;
      font-size: 14px;
   }
}

.footer-navigation {
   &__content {
      padding: 40px 0;
   }

   &__list {
      display: flex;
      justify-content: space-between;
      gap: 10px;
   }

   &__title {
      font-weight: 500;
      margin-bottom: 20px;
   }

   &__link {
      display: block;
      font-size: 14px;
      font-weight: 300;
      line-height: 2;

      &:hover .copy-link__content {
         transition: 0.5s;
         visibility: visible;
         opacity: 1;
      }
   }

   &__social {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
}

.social {
   &__list {
      display: flex;
      justify-content: space-between;
      text-align: center;
   }

   &__list-item {
      width: 32px;
   }
}

.app {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.copyright {
   &__title {
      font-size: 14px;
      font-weight: 300;
      text-align: center;
   }
}

.copy-link {
   display: inline;
   &__content {
      visibility: hidden;
      opacity: 0;
      width: 24px;
      height: 24px;
      background: url(../../img/copy-link.svg) no-repeat;
      vertical-align: middle;
      transition: 0.5s;
   }
}
